/* Universal Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    font-weight: 300;
    color: #111111;
}

/* Navber Section Style Start */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: -5s;
}
nav.sticky{
    background-color: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgb(0, 0, 0, 0.05);
}


nav .logo{
    color: #fff;  
    font-weight: 700;
    font-size: 2em;
    text-justify: none;
    text-decoration: none;
}
nav.sticky .logo{
    color: #111111;
}
nav .logo span{
    color: #FF014F;
}

nav .navigation{
    position: relative;
    display: flex;
}
nav .navigation li{
    list-style: none;
    margin-left: 30px;
}
nav.sticky .navigation li{
    color: #111111;
}
nav.sticky .navigation li a{
    color: #111111;
}


nav .navigation li a{
    text-decoration: none;
    color: #fff;  
    font-weight: 400;
    transform: .3s;
}
nav .navigation li a:hover{
    color:  #ff0157;
}

/* Navber Section Style End */

/*  Hero Section style Start */
.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Assets/bg.jpg);
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 4.5em;
    color: #fff;
    transition: -5s;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: #ff0157;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .5s;
    border-radius: 5px;
    border: 1px solid #ff0157;
}
.btn:hover{
    letter-spacing: 6px;
    background-color: transparent;
    color: #ff0157;
}
/*  Hero Section style End */

 /* About Section Style Start */
 .about{
    padding: 100px;
 }
.row{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.row .col50{
    position: relative;
    width: 48%;
    line-height: 2;
}
.title_text{
    color: #111111;
    font-size: 2em;
    font-weight: 300;
}
.title_text span{
    color: #ff0157;
    font-size: 1.5em;
    font-weight: 700;
}
.row .col50 .imgBx img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}





 /* About Section Style End */

 /* Menu Section Start Style  */
 .title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .title span{
    color: #ff0157;
    font-size: 1.5em;
    font-weight: 700;
 }


 .menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 40px;
 }

 .menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgb(0, 0, 0, 0.08);
 }

 .menu .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
 }

 .menu .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }

 .menu .content .box .text{
    padding: 15px 0 5px;
 }
 .menu .content .box .text h3{
    font-weight: 400;
    color: #111111;
 }
 /* Menu Section Start End  */

   /* Kitchen Expert Start   */
   .expert .content{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 40px;
   }

   .expert .content .box{
    width: 250px;
    margin: 15px;
   }

   .expert .content .box .imgBx{
    position: relative;
    width: 100%;
    height: 300px;
   }

   .expert .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   }

   .expert .content .box .text{
    padding: 15px 0 5px;
   }
   .expert .content .box .text h3{
    font-weight: 400;
    color: #111111;
   }







   /* Kitchen Expert End   */



